
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: 'Avenir', sans-serif;
  background-color: #BA5B4C
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

/* background */

model-viewer {
  width: 100%;
  height: 100vh;
  background-color: #BA5B4C;
  --poster-color: #ffffff00;
  z-index: -1;
}

/* navbar */


#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#nav li {
  float: left; 
  list-style: none;
  margin: 10px 20px;
  letter-spacing: 0.1em;
}

#nav > li > a {
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}

#nav > li > a:hover {
  opacity: 1}

.intro {
  color: #92b2bf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  line-height: 0.8;
  z-index: 1;
  mix-blend-mode: color-dodge;
  animation: float 5s ease-in-out infinite alternate;
}
@keyframes float {
  25%{ transform: translate(-50%, -53%);}
}

.header {
  font-size: 10vw;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}

/* scroll text and arrow pos */
.landing a{
  font-family: 'Quicksand', sans-serif;
  color: #fff; 
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  z-index: 1;
  
  font-size: 12px;
  letter-spacing: .05em;
  text-decoration: none;
  transition: opacity .3s;
}

.landing a:hover {
  opacity: 0.9;
}

/* for the arrow */

#title a span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9.5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  -webkit-animation: arrow 2s infinite;
  animation: arrow 2s infinite;
}
@-webkit-keyframes arrow {
  60% {
    -webkit-transform: rotate(-45deg) translate(-2px, 2px);
  }
}
  
@keyframes arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.bodytext {
  position:relative;
  padding-top: 20%;
  /* padding-left: 10%; */
  color: white;
}

#pfp {
  display: block;
  width: 200px;
  margin-right: 5%;
  float: right;
  /* max-width: 100%; change this when u get a photo*/ 
  /* height: auto; */
}

.col {
  float: left;
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


