* {
  margin: 0;
  padding: 0;
  color: white;
}

html {scroll-behavior: smooth;}
html, body { max-width: 100%; overflow-x: hidden; } 

body {
  padding: 0;
  font-family: 'Bodoni Moda', serif;
  font-weight: 350;
  background: linear-gradient(to top,#4a6064, #283436,#283436)
}

.houses {
  position: relative;
  width: 100%;
  height: 100vh;
}

.layer{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  object-fit:cover;
}

svg {transform: translateZ(0); /* Fix Safari rendering bug */}

.l4 {z-index: -5;}
.l3 {z-index: -4;}
.l2 {z-index: -2;}
.l1 {z-index: -1;}

#longpathbox {
	position: absolute;
	margin-bottom: 50vh;
	overflow: visible;
	transform: translateX(-50%);
}

.path4 {
	fill: #283436 !important;
  overflow: hidden;
}

#bird_container { /*3 birds*/
    z-index: -3;
    position: absolute;} 

.path {fill: none;} 
.bird {fill: #394463;}
.b4 {fill: rgb(253, 253, 253) !important;}

/* navbar */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
#nav li {
  float: left; 
  list-style: none;
  margin: 10px 10px;
}
#nav > li > a {
  font-family: 'Quicksand', sans-serif;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0.1em;
}
#nav > li > a:hover {opacity: 1;}

.sticky {
  background-color: rgba(74,96,100,1);
  transition: 0.5s;
}

@keyframes moveAnim {
 from { flex: none }
 to{ flex: 1 }
}

.intro {
  position: absolute;
  top: 40vh;
  right: 5vw;
  text-align: right;
  line-height: 0.9;
  z-index: 1;
  mix-blend-mode: color-dodge;
  animation: float 2s ease-in-out infinite alternate; 
}
@keyframes float {
  to{ transform: translateY(-2%);}
}
.intro p {
  font-family: 'Quicksand', sans-serif;
  font-size: 2vw;
}
.header {
  font-size: 10vw;
  color: #c0ddea !important;
  font-weight: 900;
}

/* scroll down text*/
.landing a{
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  z-index: 1;
  font-size: 12px;
  letter-spacing: .05em;
  text-decoration: none;
  transition: opacity .3s;
}
.landing a:hover {
  opacity: 0.9;
}

#title a span {/*arrow down*/
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9.5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  animation: arrowdown 2s infinite;
}
@keyframes arrowdown {
  0% {transform: rotate(-45deg) translate(0, 0);}
  20% {transform: rotate(-45deg) translate(-10px, 10px);}
  40% {transform: rotate(-45deg) translate(0, 0);}
}

h2{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.05em;
}

.bodytext {padding-top: 5%;}

.bio_text {padding-top: 10%;
  animation: float 2s ease-in-out infinite alternate; }

#biotext p {max-width: 50ch;}

#pfp {
  display: block;
  width: 10em;
  margin-right: 5%;
  float: right;
  border-radius: 50%;
  border: 3px solid #FFF;
}

.col {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section_header > h2 {
  margin-top:5%;
  margin-left: 10%;
}

/* article cards: desktop */
.card_container_mobile{display: none;}
.card_container_desktop {
  display: flex;
  justify-content: center;
  padding: 5px;
  min-height: 500px;
  margin-top: 2%;
}

@media (max-width: 480px) { /* for mobile */
  .card_container_desktop {display: none;}
  .card_container_mobile {
    display: grid;
    justify-content: center;
    padding: 5px;
    min-height: 500px;
    margin-top: 2%;
  }
  .card_img {
    border-radius: 20px;
    max-width: 100%;
    object-fit: cover;
    height: auto;}
  .card_figure {
    width: 45%;
  }
  .intro {
    position: absolute;
    /* top: 45vh; */
    right: 15vw;
    text-align: center;
    line-height: 0.9;
    z-index: 1;
    mix-blend-mode: color-dodge;
    animation: float 2s ease-in-out infinite alternate; 
  }
  .header {font-size: 20vw;}
  .intro p {font-size: 5vw;}
  /* #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
  } */
}

.card {
  width: 270px;
  margin-top: 10px;
  margin: 5px;
  text-align: center;
  background: #f0d3cf;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
  overflow: hidden;
}

.card_img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  max-width: 100%;
  object-fit: cover;
}

.card_text {
  padding-right: 2%; 
  padding-left: 3%;
  margin-top: 0px;
  margin-bottom: 5px;
}

.card_title {
  font-family: "Quicksand", sans-serif;
  color: #222222;
  font-size: 130%;
  line-height: 1.1;
  text-align: left;
}

.card_subtitle {
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
  color: #BA5B4C;
  line-height: 1.2;
  margin-top: 2px;
  margin-bottom: 5%;
  text-align: left;
  font-size: inherit
}

.card_links{
  display: flex;
  justify-content: flex-end;
  margin: 2%;
}

.card a {
  font-family: 'Solway', serif;
  color: rgb(73, 73, 73);
  text-decoration: none;
  font-weight: 300;
}

.card_div::before { /* dotted line dividers*/
  margin-left: -12px;
  content: "";
  display: block;
  border-bottom: 2px dashed #FFF;
  animation: slide alternate 2s infinite;
}
@keyframes slide {to { transform: translateX(12px);} }

.card_body p {
  font-family: 'Roboto Slab', serif;
  padding: 5%;
  color: rgb(90, 90, 90);
  font-size: 16px;
  line-height: 1;
  text-align: right;
  word-spacing: 1px;
}

.subheading {
  margin-left: 15%;
  display: flex;
}

.hand{
  animation: point alternate 1s infinite;
}
@keyframes point {
  0%   { transform: translateX(0px); }
  100% { transform: translateX(2px); }
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
  line-height: 1.5em;
}

#scrollup {
  font-family: 'Quicksand', sans-serif;
  opacity: 0.6;
  z-index: 1;
  font-size: 12px;
  letter-spacing: .05em;
  text-decoration: none;
  transition: opacity .3s;
}
#scrollup:hover {opacity: 0.9;}

footer a span {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: -55px;
  margin-top:-15px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(45deg);
  animation: arrowup 2s infinite;
}
@keyframes arrowup {
  0% {transform: rotate(45deg) translate(0, 0);}
  20% {transform: rotate(45deg) translate(-10px, -10px);}
  40% {transform: rotate(45deg) translate(0, 0);}
}