.vertical {
  border-left: 2px solid var(--fontColour);
  min-height: 100vh;
  height:100%;
  position: fixed;
  left: 5%;
}

ul li:hover::before{ 
  content: "☞";
  font-family: 'SymbolaRegular';
}

ul li:hover {
  transform: scale(1.4);
  transform-origin: center left;
  transition: 0.3s;
}

ul {
  width: auto;
  margin-left: 5px;
  font-family: var(--headerFont);}

ul a{text-decoration: none;}
ul.vnav {list-style-type: none;}

.page.col{
  margin: 10px;
  min-height: 100vh;
}
.page.col:nth-of-type(2){ /*col with the content*/
  flex: 5;
  padding: 0 3%;
  overflow: hidden;
}
.page.col:nth-of-type(3){ display: contents;}

table {width: 100%;}

th, td {
  padding: 2px 0;
  vertical-align: top;
}

table th{
  text-align: right;
}
table td{
  text-align: left;
  padding-left: 2%;
}
/* .courses .col:nth-child(2){flex: 8;} */

legend {
  margin: 0 10%;
  padding-inline: 10px;
  font-size: 200%;
  letter-spacing: .05em;
  font-family: var(--headerFont);
  opacity: 0.6;
}

.odd {margin-left:auto;}
.section {padding: 6% 0;}

#main {transition: margin-left .5s;}
.navtoggle {display:none;}

@media (max-width: 480px) {
  #closenav{display:none;}
  #opennav {display:block;}
  .navtoggle {
    position: fixed;
    bottom: 7%;
    left: 4%;
    z-index: 1;
  }
  .vertical{
    position: fixed;
    right: 0;
    bottom: 15%;
    min-height: 0;
    height: fit-content;
    z-index: 1;
  }
  .vnav{display:none;} /* this is causing issues when switching between mobile/desktop*/
  .page.col:nth-of-type(1){display: contents;}
  .card_body {text-align: right !important;}
}

.card_container {
  flex-direction: column;
  align-items: center;
}

/* card opening */
.card_text {
  padding: 0 5%;
  transition: all 0.3s cubic-bezier(0.36, -0.02, 0.15, 0.98);
  visibility: visible;
  max-height: 1000px;
}
.card_text.active { 
  visibility: hidden;
  max-height: 0;
}

.card {
  width: 100%;
  border-radius: 20px;
  margin: 10px;
}

.card_text { 
  padding: 0 5%;
  padding-bottom: 2%;
} 
.card_title {padding: 2% 1px 0 5%;}
.card_body {text-align: left;}

#uni {padding: 0 0 0 5%;}