
.vertical {
  border-left: 2px solid var(--fontColour);
  min-height: 100vh;
  height:100%;
  position: fixed;
  left: 5%;
}

ul li:hover::before{ 
  content: "☞";
  font-family: 'SymbolaRegular';
}

ul li:hover {
  transform: scale(1.4);
  transform-origin: center left;
  transition: 0.3s;
}

ul {
  width: auto;
  margin-left: 5px;
  font-family: var(--headerFont);}

ul a{text-decoration: none;}
ul.vnav {
  list-style-type: none;}

div.col{
  flex: 1;
  margin: 10px;
  min-height: 100vh;
}
div.col:nth-of-type(even){ /*col with the content*/
  flex: 5;
  padding: 0 3%;
}

legend {
  margin: 0 10%;
  padding-inline: 10px;
  font-size: 200%;
  letter-spacing: .05em;
  font-family: var(--headerFont);
  opacity: 0.6;
}

.odd {margin-left:auto;}
.section {padding: 6% 0;}

@media (max-width: 480px) {
  div.col:nth-of-type(1){ display:none} /*delete vnav*/
  .card_body {text-align: right !important;}
}

.card_container {
  flex-direction: column;
  align-items: center;
}

.card_text {
  padding: 0 5%;
  transition: all 0.3s cubic-bezier(0.36, -0.02, 0.15, 0.98);
  visibility: visible;
  max-height: 1000px;
}

.card_text.active { 
  visibility: hidden;
  max-height: 0;
}

.card {
  width: 100%;
  border-radius: 20px;
  margin: 10px;
  padding-bottom: 2%;
}

/* .card_text { padding: 0 2% 1% 4%;}  */
.card_title {padding-left: 5%;}
.card_body {text-align: left;}

#uni {
  padding-bottom: 0;
}